*{
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
  color: black;
 display: block;
  font-family: 'Josefin Sans',
      sans-serif;
}


#navbar {
  background-color: #aeaeae;
  z-index: 1;
  position: fixed;
  width: 100vw;
  padding: 1rem 0.5rem;
}

/* Navbar links */
#navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
#navbar a:hover {
text-decoration: underline;
}

#navbar .active-link {
  color: rgb(235, 60, 2);
}
video{
  width: 100vw;
  height: calc(9/21 * 100vw);
  object-fit: cover;
  object-position: center;
  margin-top: 48px;
}

.project-div{
  width: 35rem;
  border: 2px solid rgb(239, 159, 0);
  text-align: center;
}
.hovered{
  background-color: #030202;
  opacity: 0.3;
}
/* .github{
  z-index: 3;
  color: aqua;
} */

#section3{
  background-color:white;
}
.flex-container{
  margin: 0 auto;
  padding-block: 2REM;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30PX;
  column-gap: 30PX;
  justify-content: center;
}

.project-div h3 , p{
  margin-block:0.5rem ;
}


.test {
  position: relative;
  overflow: hidden;
  /* this ensures everything stays within the div */
  }

.links {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: none;
/* By default, it won't be displayed */
}


.test:hover .links {
display: block;
}

.links a {
  margin-inline:0.5rem;
  text-decoration: underline;
}